// 登录样式

.login-wrap {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    .header {
        line-height: 60px;
        position: absolute;
        background: #fff;
        top: 0;
        width: 100%;
        padding-left: 26px;
    }

    .set-nickname-modal, .setting-modal {
        .ant-modal-content {
            border-radius: 5px;
        }
    }

    .setting-modal {
        .avatar-wrapper {
            text-align: center;
            margin-top: 20px;
            .ant-avatar {
                width: 86px;
                height: 86px;
                text-align: center;
                
            }
            .setting-avatar {
                cursor: pointer;
                &:before{
                    content: '更换头像';

                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    line-height: 28px;


                    background: rgba(0,0,0,0.3);
                    opacity: 0;
                    transition: all 0.3s;
                }
            }
            .setting-avatar:hover {
                &:before {
                    opacity: 1;
                }
            }
        }

        input {
            margin: 8px 0 30px 0;
        }
        .action {
            text-align: center;
            margin: 90px 0 20px;
        }

        // 选择头像
        .head-images-modal {
            .checked-mask {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.8);
                top: 0;
                left: 0;

                background: rgba(0,0,0,0.8);


                display: flex;
                justify-content: center;
                align-items: center;

                i.anticon {
                    color: #fff;
                    font-size: 32px;
                }
            }
            .avatar-wrapper {
                display: inline-block;
                width: 86px;
                height: 86px;
                margin: 7px;
                cursor: pointer;

                position: relative;
            }
            .ant-avatar {
                width: 100%;
                height: 100%;
            }
        }
        // 重置antd checkbox
        .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
        }
    }

    .version-text {
        margin-top: 30px;
        font-size: 14px;
    }
}
.login-form {
    position: relative;
    width:470px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 1px 0px rgba(0,0,0,0.25);

    padding: 43px;
    padding-bottom: 30px;

    text-align: center;

    .app-name {
        color: #00AFEF;
        font: bold 20px/1 courier;
        margin-bottom: 30px;
    }

    .control-contraints {
        text-align: left;
        margin-bottom: 15px;
    }
    // .title {
    //     text-align: center;
    //     padding: 15px;
    //     color: #938e8e;
    //     font-weight: bold;
    // }

    input {
        height: 40px;
    }

    .action {
        // display: flex;
        // justify-content: space-between;
        .info-tips {
            text-align: left;
            margin-top: 5px;
            // padding:0 10px;

            i {
                margin-right: 5px;
            }
        }
    }
    button {
        width: 182px;
        height: 40px;
    }

    .ant-form-explain {
        text-align: left;
    }

    .setting-handle {
        position: absolute;
        width: 40px;
        height: 40px;

        right: 16px;
        top: 16px;

        cursor: pointer;

        &:hover {
            background: #ececec;
            transition: all 0.5s;
        }
    }

}

.talker-is-full-modal {
    .ant-modal-content {
        text-align: center;
        overflow: hidden;
        border-radius: 0;
        img {
            margin: 82px 0 26px 0;
        }
        .ant-modal-footer {
            margin: 96px 0 32px 0;
            border: none;
    
            > div {
                display: flex;
                justify-content: space-between;
                width: 100%;
    
            }
            button {
                width: 182px;
                height: 40px;
            }
    
        }
    }
}


// 会议样式
.meeting {
    height: 100%;
    background: #3E464B;
    -webkit-user-select:none;
    .ant-layout-has-sider {
        height: calc(100% - 130px);
    }
    .ant-layout-header, .ant-layout-footer {
        // position: absolute;
        width: 100%;
        z-index: 4;
        padding: 0 26px;
        background: transparent;
    }
    .ant-layout-header {
        top: 0;
        height: auto;
        height: 50px;
        background: #232426;

        .header-wrapper {
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            img.logo {
                width: 70px;
                height: 20px;
            }
            .name-wrapper {
                text-align: center;
                color:rgba(255,255,255,1);
                font-family:PingFangSC-Regular,PingFang SC;
                line-height: 1;
                .name {
                    font-size:18px;
                }

                .time {
                    display: inline-block;
                    margin-top: 2px;
                    padding: 2px 5px;
    
                    background:rgba(0,0,0,0.8);
                    border-radius:7px;
                    font-size:10px;
                    line-height:10px;
    
                }
            }

            .leave-action-wrapper {
                display: flex;
                align-items: center;
                .network-wrapper {
                    margin-right: 5px;
                    height: 18px;
                    display: flex;
                    align-items: flex-end;
    
                    .network-item {
                        float: left;
                        width: 3px;
                        background: #fff;
                        margin-right: 3px;
                    }
    
                    .network-item.one {
                        height: 25%;
                    }
                    .network-item.two {
                        height: 50%;
                    }
                    .network-item.three {
                        height: 75%;
                    }
                    .network-item.four {
                        height: 100%;
                    }
                    .network-item.high-light {
                        background: #3FEF66;
                    }
                }
                
                .leave-action {
                    cursor: pointer;
                    background:rgba(0,0,0,0.6);
                    line-height: 28px;
                    color: #EF413F;
    
                    border-radius: 17px;
                    padding: 0 15px;
    
                    img {
                        width:16px;
                        height:16px;
                        margin: 0 2px 0 0;
    
                    }
    
                    &:hover {
                        background:#33373d;
                    }
                }
            }
        };
    }
    
    // 主播列表 UI
    .talker-list-placeholder {


        position: fixed;
        
        width: 0;
        bottom: 70px;
        right: 10px;
        z-index: 3;
        height: calc(100% - 130px); // 去掉header 和footer
        
        .talker-list-wrapper {

            width: 336px;
            height: 100%;
            background: rgba(0,0,0,0.8);
            border-radius: 10px;
    
            position: absolute;
            right: 0;
            transition: .5s;
    
    
            .control-btn { // 伸缩按钮
                width: 22px;
                height: 96px;
                background: rgba(0, 0, 0, 0.8);
                border-radius: 8px 0px 0px 8px;

                position: absolute;
                left: -22px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 5;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:hover {
                    img { opacity: 1 };
                }
                img {
                    opacity: 0.6;
                }
            }
    
            .header {
                line-height: 60px;
    
                font-size:14px;
                font-family:Alibaba-PuHuiTi-R,Alibaba-PuHuiTi;
                color:rgba(255,255,255,1);
                text-align: center;
    
                position: relative;
                img.mute-action {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }
                
            }
    
            .content { // 列表内容区
                height: calc(100% - 60px);
                overflow: auto;
                .item {
                    height: 200px;
                    background: #3E464B;
                    border-bottom: 1px solid;
        
                    position: relative;
                    margin: 5px 6px;
        
                    .info {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        line-height: 24px;
                        background: transparent;
                        padding: 0 6px;
                        z-index: 5;
                        background: #232426;
                        .name {
                            font-size:12px;
                            font-family:Alibaba-PuHuiTi-R,Alibaba-PuHuiTi;
                            color:#fff;
                            margin-right: 4px;
                        }
        
                        .status-icon {
                            float: right;
                            img {
                                // display: inline-block;
                                width: 16px;
                                height: 16px;
                                margin-right: 3px;
                            }

                            img.admin {
                                height: 18px;
                                width: 18px;
                                margin-top: 2px;
                            }
                        }
                    }
                    
                    .no-speak-action {
                        position: absolute;
                        left: 6px;
                        bottom: 6px;
        
                        line-height:20px;
                        background:rgba(0,0,0,1);
                        border-radius:10px;
                        padding: 0 6px;
                        color:rgba(239,65,63,1);
                        font-size: 12px;
        
                        cursor: pointer;
                        z-index:1
                    }
        
                    .manage-talker-mask {
                        box-sizing: content-box;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0px;
                        right: 0px;
                        overflow: hidden;
                        z-index: 3; // 最上层
                        &:before {
                            content: ' ';
                            position: absolute;
                            z-index: 1;
                            background-color: fade(#000, 50%);
                            transition: all 0.3s;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
        
                        .action {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 10;
                            white-space: nowrap;
                            opacity: 0;
                            transition: all 0.3s;
                            i {
                              z-index: 10;
                              transition: all 0.3s;
                              cursor: pointer;
                              font-size: 16px;
                              width: 16px;
                              color: rgba(255,255,255,0.7);
                              margin: 0 4px;
                              &:hover {
                                color: rgba(255,255,255,1);
                              }
                            }
                          }
                          .ant-dropdown-menu {
                                border-radius: 5px;
                          }
                          .ant-dropdown-menu-item {
                                border-radius: 5px;
                          }
                    }
                    .manage-talker-mask:hover {
                        &:before {
                          opacity: 1;
                        }
                        .action {
                          opacity: 1;
                        }
                        
                      }
                    
                }
            }
        }

    }
    // 选人下麦列表
    .to-audience-list {
        .ant-drawer-content {
            background: rgba(0, 0, 0, 0.8);
        }
        .ant-drawer-body {
            padding-top:0;
        }
        .title {
            color: #fff;
            height: 60px;
            padding: 0 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .ant-radio-group {
            width: 100%;
        }
        .info-wrapper {
            width: 100%;
            line-height:54px;
            padding: 0 20px;
            background:rgba(0,0,0,0.6);
            color: #fff;
            margin-bottom: 1px;

            .name {
                font-size: 15px;
                margin-left: 7px;
            }
        }
        .ant-radio-wrapper {
            float: right;
            line-height: 55px;
        }
        
    }
    
    .ant-layout-footer {
        width: 100%;
        height: 60px;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        bottom: 0;

        .actions {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .wrapper {
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 10px;
                min-width: 50px;
            }
            img {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }

        // 房间设置框
        .room-setting {
            position: absolute;
            bottom: 65px;
            right: 30px;

            padding: 16px;
            display: none;
            width: 240px;

            background:rgba(0,0,0,0.8);
            border-radius:10px;

            transition: all 0.5s;
            transform-origin: 100px 0;

            color: #fff;
            text-align: left;
            .item-wrapper {
                margin: 20px 0;
            }
            .title {
                font-size: 12px;
            }
            .text {
                font-size: 14px;

            }

            input {
                background: #767680;
                border: none;
                margin-top: 6px;
                height: 30px;
                color: #fff;
            }

            .admin-change-handle {
                text-align: center;
                color: #00AFEF;
                font-size: 12px;
                line-height:30px;
                background:rgba(28,28,30,1);
                border-radius:20px;

                &:hover {
                    background: #000;
                    cursor: pointer;
                }
            }

            .close-icon {
                position: absolute;
                right: 10px;
                top: 16px;
                cursor: pointer;
                font-size: 16px;
            }
        }

        // 实现动画 渐出
        @keyframes roomSettingOpen {
            0%{ opacity: 0; }
	        100%{opacity: 1; }
        }
        .room-setting.open {
            display: block;

            animation: roomSettingOpen .5s;
        }

    }
    
    // 主画面
    .main-video-wrapper {
        position: relative;
        height: 100%;
        .is-speak-icon {
            position: absolute;
            z-index: 5;
            top: 70px;
            left: 30px;
            width: 30px;
            height: 30px;
        }

        video {
            // transform: rotateY(180deg);
        }

    }

    .ant-layout-content {
        padding: 20px;
        position: relative;
        width: 100%;
        height: calc(100% - 110px);
        padding: 0;

        .item {
            width: 100%;
            height: 100%;
        }
        .name {
            position: absolute;
            font-size: 20px;
            color: #fff;
            // left: 50%;
            // top: 50%;
            // transform: translate(-50%,-50%);
            font-weight: bold;
        }
    };

    .action {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;

        button {
            margin-left: 8px;
        }
    }

    video {
        width: 100%;
        height: 100%;
        background: #3E464B;
        object-fit: contain;
    }

    .voff-show {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: #3E464B;
        z-index: 2; // 置于 video 之上

        display: flex;
        justify-content: center;
        align-items: center;

        .avatar-wrapper {
            text-align: center;
            
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #FFFFFF;
            line-height: 20px;
            img.avatar {
                width: 68px;
                height: 68px;
            }

            .nick-name {
                position: relative;
                img {
                    position: absolute;
                    top: -50%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .leave-confirm-modal {
        width: 240px;
        height: 188px;
        color: #fff;
        background:rgba(0,0,0,0.8);
        border-radius:10px;

        position: absolute;
        right: 16px;
        top: 55px;
        z-index: 3;

        padding: 0 10px;

        transition: all 0.3s;
        .title {
            line-height: 40px;
            display: flex;
            justify-content: space-between;

            img {
                cursor: pointer;
            }
        }

        .text {
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
        }

        .handle {
            text-align: center;
            margin: 16px 0;
            .leave,.end {
                display: inline-block;
                width:92px;
                line-height:20px;
                background:rgba(28,28,30,1);
                border-radius:10px;

                color:rgba(0,175,239,1);
                font-size: 12px;

                cursor: pointer;
            }
            .leave {
                margin-bottom: 12px;
            }
        }
    }
    

    // 白板操作界面
    iframe[name="white-board"] {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        z-index: 1;

        border: none;
        padding: 50px 0 60px 0;
    }

    // electorn 选择屏幕 框
    .electorn-choose-desktop-media{
            
        .ant-modal-content {
            border-radius: 4px;

            .ant-modal-header, .ant-modal-body {
                padding: 8px 15px;
            }

            .tab-content {
                display: flex;
                flex-wrap:wrap;

                height: 400px;
                overflow-y: scroll;
                .img-wrapper {
                    flex: auto;
                    min-width: 33%;
                    max-width: 50%;
                    width: 33%;
                    max-height: 50%;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    align-items: center;


                    padding: 5px;

                    border: 2px solid transparent;

                    img {
                        max-width: 100%;
                        max-height: 85%;
                    }

                    .name {
                        text-align: center;
                        
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                }
            }
        }
    }


    .shared-desktop-alert { // 正在共享提示框
        position: absolute;
        top: 115px;
        // bottom: 200px;
        left: 100px;

        border: none;
        background: #fff;

        min-width: 200px;
        // text-align: center;
    }

    
}
.ant-tooltip-inner {
    border-radius: 4px;
}

// toast 
.toast {
    width: 240px;
    height: 188px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: absolute;

    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    z-index:2;
    padding: 0 10px;
    transition: all 0.3s;


    .title {
        line-height: 40px;
        display: flex;
        justify-content: space-between;

        img {
            cursor: pointer;
        }
    }

    .text {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
    }

    .handle {
        text-align: center;
        margin: 16px 0;
        .leave,.end {
            display: inline-block;
            width:92px;
            line-height:20px;
            background:rgba(28,28,30,1);
            border-radius:10px;

            color:rgba(0,175,239,1);
            font-size: 12px;

            cursor: pointer;
        }
        .leave {
            margin-bottom: 12px;
        }
    }
}

// 邀请信息框
.inviteModal {
    position: absolute;
    width: 400px;
    height: 350px;
    text-align: center;
    padding: 10px;

    left: 50%;
    bottom: 15%;
    z-index: 4;

    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);

    .close {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 15px;
        height: 15px;

        border-radius: 15px;
        background: #b9b2b4;
        color: rgba(50,50,50, 0.6);
        line-height: 13px;
        text-align: center;

        cursor: pointer;

        padding: 0 0 3px 1px;
    }

    textarea {
        display: block;
        width: 80%;
        height: 250px;
        margin: 10px auto;
        padding: 15px 20px;
        text-align: left;
        &:focus{
            outline: 0;
        }
    }

    button {
        width: 200px;
        border-radius:5px ;
    }
}


.ant-alert {
    z-index: 2;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    // left: 50%;
    // transform: translateX(-50%);
}


// 通知栏
.openNotification {
    border-radius: 0;
}