.meeting {
    height: 100%;
}
.meeting .ant-layout-header {
    background: #fff;
    padding: 0 20px;
}
.meeting .logo {
    display: inline-block;
    width: 15%;
}
.meeting .info {
    display: inline-flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}
.meeting .info span {
    /* flex-grow: 1;
    text-align: center; */
}
.meeting .ant-layout-content {
    padding: 20px;
}
.meeting .ant-layout-content video {
    width: 100%;
    height: 100%;
}

.meeting .anchor-list {
    background: transparent;
    /* max-height: 100%;
    overflow: auto; */
}
.meeting .anchor-list .total {
    line-height: 40px;
    text-align: center;
    
}

.meeting .anchor-list .item-wrap {
    max-height: calc(100% - 40px);
    overflow: auto;
}

.meeting .anchor-list .item {
    height: 200px;
    background: #fff;
    border-bottom: 1px solid;
}